.mini-wishlist {
  z-index: 10;
  text-align: center;
}
.support-wishlist {
  position: fixed;
  z-index: 999;
  right: 25px;
  bottom: 175px;
  top: auto !important;
}
.support-wishlist a.btn-support-wishlist {
  position: relative;
  margin: 20px 10px;
  text-align: left;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: block;
}
.support-wishlist a.btn-support-wishlist .count_item_pr {
  position: absolute;
    top: -10px;
    right: -10px;
    background-color: #fff;
    border-radius: 50%;
    padding: 5px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}



.support-wishlist i {
  font-size: 40px;
  color: red;
}